@import '../styles/vars.module.scss';

.GenericModal {
  .modalContainer {
    width: 530px;
    min-height: 250px;
    max-height: 750px;
    overflow: auto;
    background-color: white;
    box-shadow: $container-box-shadow;
    border-radius: $primary-border-radius;
    padding: 30px 40px;
    margin-top: 25px;

    &:focus-within {
      outline: none;
    }
  }
}