@import '../../styles/vars.module.scss';

.DataTableContainer {
    margin-top: 24px;
    height: 400px;

  .DatatableBody {
    .MuiDataGrid-detailPanel {
      padding: 15px;
    }

    .MuiDataGrid-root {
      .MuiDataGrid-cell,
      .MuiDataGrid-columnHeader {
        &:focus-within {
          outline: none !important;
        }
      }

      & .MuiDataGrid-cell {
        white-space: normal;
        overflow-wrap: anywhere;
      }
    }
  }
}
