@import '../../styles/global.styles.scss';

.CreateBookModal {
  .modal-container {
    min-width: 400px;
    max-width: 530px;
    overflow: auto;
    background-color: white;
    box-shadow: $container-box-shadow;
    border-radius: $primary-border-radius;
    padding: 30px 40px;
    margin-top: 25px;
  }

  .ButtonsContainer {
    justify-content: space-between;
  }
}
